/**
 * @file
 * CSS for aquifer.io
 */

/**
 * Fonts.
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic);

/**
 * Global styling.
 */
body, html {
  pading: 0;
  margin: 0;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 18px;
  line-height: 1.4;
}

a, a:hover, a:active, a:visited {
  color: #0094B0;
  text-decoration: none;
}

/**
 * Header styling.
 */
header {
  background: #fff;
  padding: 30px 0 30px 0;
}

img#branding {
  display: block;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  border-bottom: 3px solid #0094B0;
}

@media (min-width: 730px) {
  img#branding {
    max-width: 730px;
  }
}

/**
 * Main styling.
 */
section#main, footer {
  width: 100%;
  max-width: 730px;
  margin: 0 auto 30px auto;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

p.lead {
  margin-top: 0;
}

/**
 * Buttons
 */
a.btn, a.btn:active, a.btn:hover, a.btn:focus {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: #0094B0;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  margin-bottom: 10px;
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
}

a.btn:hover, a.btn:focus {
  background-color: #355A38;
}
